html, body, #body {
	background-color: #dbdbdb;
}
h1 {
	max-width: 800px;
	padding: 20px 0px;
	margin: 0px auto;
	max-width: 800px;
}
#input {
	margin: 40px;
	min-height: 400px;
}
#inputWrap {
	background-color: #fff;
	max-width: 880px;
	margin: 0px auto;
}
#footer {
	color: #898989;
}
#created-by {
	padding: 30px 0px;
	max-width: 800px;
	margin: 0px auto;
	text-align: right;

}
#footer a {
	color: #666;
}
#results {
	margin-top: 30px;
	border: 1px solid #0c0c0c;
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
  	visibility:hidden;
}
.sentence-result, .class-label {
	margin: 20px;
}
.sentence-result span {
	display: inline-block;
}
.polite, .impolite {
	padding: 4px;
}
.polite {
	background-color: rgba(0, 240, 0, 0.5);
}
.impolite {
	background-color: rgba(240, 0, 0, 0.5);
}
.class-label {
	float: right;
	padding: 4px;
	color: #fff;
}